 /*navbar*/
     .navbar-brand{
              font-weight: bold;
              font-size: 210%;
              font-family: Papyrus;
              color: white;
          }

     .glyphicon-home{
              padding-right: 5px;
          }


          .divStyle{
              color: white;
              font-family: "Century Gothic";
              font-size: 120%;
              margin-right: 30px;
          }


            .navbar-inverse{
                transition: 1s ease 0.1s;
            }

            .navbar{
                transition:1s ease 0.1s;
            }

            .navbar-nav > li > a:hover{
                background: none;
                color:gainsboro;


            }

            .navbarStyle{
                background: black;
            }



    /*topcontainer*/

     #topContainer{
              background-image: url("nature.jpg");
              background-size: cover;
              overflow: hidden;
              position: relative;
              z-index: 3;
          }

          .contentContainer{
              background-attachment: fixed;
          }

          #topImg{
              height:800px;
              background: rgba(0, 0, 0, 0.4);

          }

          #topRow {
              margin-top: 100px;
              text-align: center;
              color: #9d9d9d;
              font-family: Calibri;

          }

          .size{
              font-size: 500%;
              font-family: "Candara";
              color: white;
              letter-spacing:16px;
              padding-top: 150px;
          }

           .size1{
              font-size: 120%;
              font-family: "Calibri Light";
              color: white;
              letter-spacing: 8px;
              padding-top: 5px;
              text-align: center;
          }

    /*midContainer*/

    .setUp{
              font-size: 430%;
              font-family: Candara;
              text-align: center;
              padding-top: 20px;;
          }

     .circle{
              height:180px;
              width:180px;
              border-radius: 90px;
              margin:0 auto;
              position: relative;
              top: 80px;

          }

          #firstBorder{
              background-color: #334959;

          }

           #secondBorder{
              background-color: #509B9E;

          }

            #thirdBorder{
              background-color: #F28C83;

          }

    .textAlignment{
              margin-top: 150px;
              text-align: center;
              font-family: "Candara";
              font-weight: bold;
          }

        #wContainer{
            background-color: white;
            position: relative;
            z-index: 2;
        }

          #midContainer{
              background-color: white;
          }

      .center{
              text-align: center;
          }

     .firstIcon{
                padding-left: 50px;
                padding-top: 65px;
                font-size:550%;
                color: white;
            }

            .positionIcon{
                padding-left: 50px;
                padding-top: 65px;
                font-size:550%;
                color: white;
            }

            #containerColor{
                background-color: gainsboro;
            }

            .figure{
                opacity: 0;
                transform: translateX(-40px);
                transition: 0.5s ease-in-out;
            }

            .isShowing{
                opacity: 1;
                transform: translate(0px);
            }

    /*bottomContainer*/

    #bottomContainer{

              background-color: #1F2C37;
              font-family: "Candara";
              font-size: 20px;
              position: relative;
              z-index: 1;
              margin-bottom: 100px;
          }

     .marginTop{
              margin-top: 50px;
              color: whitesmoke;
              font-size: 200%;
          }

     .bottomMargin{
              margin-bottom: 60px;
          }

    .img-responsive{

                max-width: 60%;
                height: auto;
            }
    .imgSize{
              padding-top: 60px;
              margin: 0 auto;
              transform: rotate(-7deg);

          }

    .bioAlign{
              margin-top: 60px;
              color: whitesmoke;
              font-family: "Century Gothic";
              font-size: 40px;

          }

          .bioColor{
              color: whitesmoke;
              font-family: "Century Gothic";
              padding-top: 10px;
              font-size: 17px;
          }

            .figure1{
                opacity: 0;
                transform: translateX(-40px);
                transition: 0.5s ease-in-out;
            }

             .figure2{
                opacity: 0;
                transform: translateX(40px);
                transition: 0.5s ease-in-out;
            }

             .isShowing1{
                opacity: 1;
                transform: translate(0px);
            }



    /*footer*/

          .footer{
              height:100px;
              background-color: black;
              position:fixed;
              bottom:0;
              width:100%;
          }

          .social li{
              display: inline;
              list-style: none;
              padding:20px;
          }

          .social li a{
              color: grey;
          }

          .social li a:hover{
              text-decoration: none;
          }

          .listPos{
              padding-top: 20px;
          }

          .follow{
              color: whitesmoke;
              font-weight: bold;
              font-family: "Century Gothic";
          }

          .cSize{
              font-size: 80%;
              margin-top:25px;
              color: whitesmoke;
              font-family: "Century Gothic";
          }


#btnFacebook:hover{
    color: #3B579D;
}

#btnTwitter:hover{
 color:#5EA9DD;
}

#btnLinkedin:hover{
    color:white;

}

#btnGithub:hover{
    color:white;

}
#btnGoogle:hover{
    color:#DC493C;

}
